#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}
body {
  background: rgb(240, 249, 255);
  background: linear-gradient(
    203deg,
    rgba(240, 249, 255, 1) 0%,
    rgba(240, 249, 255, 1) 0%,
    rgba(221, 214, 254, 1) 48%,
    rgba(238, 242, 255, 1) 100%
  );
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #d664ffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #a461fbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* 
loop stacks */
.icon-container {
  white-space: nowrap;
  overflow: hidden;
}
.icon {
  display: inline-block;
  animation: scrollIcons 30s linear infinite;
}
.absolute-center {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.glow-button:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(187, 92, 255, 0.333);
}
.project-container {
  width: 100%; /* ou um tamanho fixo desejado */
}

@keyframes scrollIcons {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
